body
{
    background-size: cover;
}

.heading
{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}

.note
{
    font-size: 15px;
    color: bisque;
}

.play
{
    border-radius: 50px;
    width: 180px;
    font-size: 26px;
}

canvas
{
    border: 4px solid black;
    border-radius: 70px;
    box-shadow: 5px 5px 5px orangered;
    margin-top: 100px;
}